body{background-color: aqua}
header{background-color: greenyellow;}

p{background-color: greenyellow; color: brown; border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;width: 400px;  }
span{text-align: center}
header{text-align: center}
img{border-radius:  20px 20px 20px 20px;}
object{width: 400px; height: 550px;border-radius:  20px 20px 20px 20px;}
iframe{width: 400px;  height: 315px; }